@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --border: #dee2e6;
  --main: #e0caa2;
  --primary: #edbd9f;
  --secondary: #f7c081;
  --black: black;
  --white: white;
  --font-size: 1.1rem;
  --mono: "Oxygen mono", monospace;
  --sans: "Montserrat", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--sans);
  font-size: var(--font-size);
  color: var(--black);
}

a,
p,
h1,
h2,
h3 {
  margin: 0;
}

/* .navbar {
  flex-shrink: 0;
} */
