@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

:root {
  /* Shared Styles */
  --mono: "Oxygen mono", monospace;
  --sans: Inter, sans-serif;
  --dark: #212325;
  --black: #000;
  --white: #fcfcfc;
  --purple: #7f3dff;
  --link: #346bd4;
  --lightgrey: #999;
  --grey: #858585;
  --darkgrey: #eaeaea;
  --creamywhite: #f5f5f5;
  --red: rgb(195, 17, 17);
  --font-size: 16px;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--sans);
  font-size: var(--font-size);
  line-height: normal;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
a {
  padding: 0rem;
  margin: 0rem;
}

.cursor_pointer {
  cursor: pointer;
}